<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="{{ siteUrl }}assets/img/favicon.ico">

    <!-- CSS here -->
    <link rel="stylesheet" href="{{ siteUrl }}assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ siteUrl }}assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="{{ siteUrl }}assets/css/slicknav.css">
    <link rel="stylesheet" href="{{ siteUrl }}assets/css/flaticon.css">
    <link rel="stylesheet" href="{{ siteUrl }}assets/css/animate.min.css">
    <link rel="stylesheet" href="{{ siteUrl }}assets/css/magnific-popup.css">
    <link rel="stylesheet" href="{{ siteUrl }}assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="{{ siteUrl }}assets/css/themify-icons.css">
    <link rel="stylesheet" href="{{ siteUrl }}assets/css/slick.css">
    <link rel="stylesheet" href="{{ siteUrl }}assets/css/nice-select.css">
    <link rel="stylesheet" href="{{ siteUrl }}assets/css/style.css">
</head>

<body>

    <header>
        <!--? Header Start -->
        <div class="header-area header-transparent">
            <div class="main-header header-sticky">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <!-- Logo -->
                        <div class="col-xl-2 col-lg-2 col-md-1">
                            <div class="logo">
                                <a href="{{ siteUrl }}"><img src="{{ siteUrl }}assets/logo.svg"  alt=""></a>
                            
                            </div>
                        </div>
                        <div class="col-xl-10 col-lg-10 col-md-10">
                            <div class="menu-main d-flex align-items-center justify-content-end">
                                <!-- Main-menu -->
                                <div class="main-menu f-right d-none d-lg-block">
                                    <nav> 
                                        <ul id="navigation">
                                            <li><a class="black-color" href="{{ siteUrl }}">Home</a></li>
                                            <li><a class="black-color" href="{{ siteUrl }}about">About</a></li>
                                            <li><a class="black-color" href="{{ siteUrl }}services">Services</a></li>
                                            <li><a class="black-color" href="{{ siteUrl }}contact">Contact</a></li>
                                        </ul>
                                    </nav>
                                </div>
                                <div class="header-right-btn f-right d-none d-lg-block ml-30">
                                    <a href="https://www.timetopet.com/portal/login" class="header-btn">Client Login</a>
                                </div>
                            </div>
                        </div>   
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>
    

    {% block content %}

    {% endblock %}


<div class="contact-animal-owner section-bg" data-background="{{ siteUrl }}assets/img/gallery/section_bg04_blue.png">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="contact_text text-center">
                    <div class="section_title text-center">
                        <h3 class="text-black">Call us:</h3>
                        <p class="text-black">Ready to give the leash and let us walk you through all your pet care needs? Give us a bark</p>
                    </div>
                    <div class="contact_btn d-flex align-items-center justify-content-center">
                        <a href="{{ siteUrl }}contact" class="btn white-btn">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <footer>
              <!-- footer-bottom area -->
        <div class="footer-bottom-area">
            <div class="container">
                <div class="footer-border">
                     <div class="row d-flex align-items-center">
                         <div class="col-xl-12 ">
                             <div class="footer-copy-right text-center">
                                 <p>
  Copyright &copy; <script>document.write(new Date().getFullYear());</script> All rights reserved Mr. Rover LLC</a>
  </p>
  <p style="font-size: 12px;">Design by | <a href="https://colorlib.com">Colorlib</a></p>
  <p><a style="font-size: 16px; color:black" href="{{ siteUrl }}termsofservice">Terms of Service</a></p>
                             </div>
                         </div>
                     </div>
                </div>
            </div>
        </div>
        <!-- Footer End-->
    </footer>
   

    <!-- JS here -->
    
    <script src="{{ siteUrl }}assets/js/vendor/modernizr-3.5.0.min.js"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="{{ siteUrl }}assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="{{ siteUrl }}assets/js/popper.min.js"></script>
    <script src="{{ siteUrl }}assets/js/bootstrap.min.js"></script>
    <!-- Jquery Mobile Menu -->
    <script src="{{ siteUrl }}assets/js/jquery.slicknav.min.js"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="{{ siteUrl }}assets/js/owl.carousel.min.js"></script>
    <script src="{{ siteUrl }}assets/js/slick.min.js"></script>
    <!-- One Page, Animated-HeadLin -->
    <script src="{{ siteUrl }}assets/js/wow.min.js"></script>
    <script src="{{ siteUrl }}assets/js/animated.headline.js"></script>
    <script src="{{ siteUrl }}assets/js/jquery.magnific-popup.js"></script>

    <!-- Nice-select, sticky -->
    <script src="{{ siteUrl }}assets/js/jquery.nice-select.min.js"></script>
    <script src="{{ siteUrl }}assets/js/jquery.sticky.js"></script>
    
    <!-- contact js -->
    <script src="{{ siteUrl }}assets/js/contact.js"></script>
    <script src="{{ siteUrl }}assets/js/jquery.form.js"></script>
    <script src="{{ siteUrl }}assets/js/jquery.validate.min.js"></script>
    <script src="{{ siteUrl }}assets/js/mail-script.js"></script>
    <script src="{{ siteUrl }}assets/js/jquery.ajaxchimp.min.js"></script>
    
    <!-- Jquery Plugins, main Jquery -->	
    <script src="{{ siteUrl }}assets/js/plugins.js"></script>
    <script src="{{ siteUrl }}assets/js/main.js"></script>
        
    </body>
</html>